MONGODB_URI=
FRONTEND_ORIGIN=
RESEND_API_KEY=
AUTH_SECRET=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
NEXT_PUBLIC_BETTER_AUTH_URL=
PAYSTACK_SECRET_KEY=
LUMIID_VERIFICATION_AMOUNT=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
LUMIID_SECRET_KEY=
